<div class="pager-bar">
  <div *ngIf="page.page.total && pages.length" class="pagination">
    <!-- <button tabindex="-1" [hidden]="!showFirstLast" mat-flat-button [disabled]="page.page.pageNo === 1"
      (click)="showPage(1)">First
    </button>
    <button tabindex="-1" mat-flat-button [disabled]="page.page.pageNo === 1" (click)="showPage(page.page.pageNo - 1)">
      Prev
    </button>
    <button tabindex="-1" mat-flat-button *ngFor="let eachPage of pages" class="numbers"
      [class.active]="page.page.pageNo === eachPage" (click)="showPage(eachPage)">
      <span *ngIf="eachPage < 0">...</span>
      <span *ngIf="eachPage > 0">{{eachPage}}</span>
    </button>
    <button tabindex="-1" mat-flat-button [disabled]="page.page.pageNo === page.page.totalPages"
      (click)="showPage(page.page.pageNo + 1)">Next
    </button>
    <button tabindex="-1" [hidden]="!showFirstLast" mat-flat-button
      [disabled]="page.page.pageNo === page.page.totalPages" (click)="showPage(page.page.totalPages)">Last
    </button> -->
    <button [disabled]="page.page.pageNo === 1" (click)="showPage(page.page.pageNo - 1)">&laquo;</button>
    <button *ngFor="let eachPage of pages" [class.active]="page.page.pageNo === eachPage"
      (click)="showPage(eachPage)"><span *ngIf="eachPage < 0">...</span>
      <span *ngIf="eachPage > 0">{{eachPage}}</span></button>
    <button [disabled]="page.page.pageNo === page.page.totalPages"
      (click)="showPage(page.page.pageNo + 1)">&raquo;</button>
  </div>
</div>