.pager-bar {
  text-align: end;
}

.pagination {
  margin-top: 12px;
  display: inline-block;
}

.pagination button {
  color: #4b0082;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 0;
  box-shadow: 0;
  background: transparent;
  font-size: 20px;
  width: 50px;
}

@media (max-width: 800px) {
  .pagination button {
    font-size: 20px;
    width: auto;
  }
}

.pagination button.active {
  background-color: #e6e6fa;
  color: #4b0082;
  border-radius: 5px;
}

.pagination button:hover:not(.active) {
  background-color: transparent;
  border-radius: 5px;
}