<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'cover-bars'" class="cover" style="height: 100%;">
    <div class="outer">
      <div class="middle">
        <!-- <div class="inner"> -->
        <div class="lds-facebook">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>

  <!-- <div *ngSwitchCase="'inline-spinner'">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div> -->

  <div *ngSwitchCase="'inline-spinner'" class="inline">
    <div class="outer">
      <div class="middle">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>

  <mat-spinner *ngSwitchCase="'cover-spinner'"></mat-spinner>
</ng-container>
